src/main/resources/ihe/iti/xds_b/_2007/RepositoryPS_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DocumentRepository" targetNamespace="urn:ihe:iti:xds-b:2007" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:WL5G3N3="http://www.w3.org/2006/05/addressing/wsdl" xmlns:WL5G3N2="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="urn:ihe:iti:xds-b:2007">
  <WL5G3N0:documentation>IHE XDS.b Document Repository</WL5G3N0:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" schemaLocation="RepositoryPS.xsd"/>
      <xsd:import namespace="urn:ihe:iti:xds-b:2007" schemaLocation="RepositoryPS_1_2_3.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProvideAndRegisterDocumentSet-b_Message">
    <WL5G3N0:documentation>Provide and Register Document Set</WL5G3N0:documentation>
    <wsdl:part name="body" element="WL5G3N1:ProvideAndRegisterDocumentSetRequest"/>
  </wsdl:message>
  <wsdl:message name="ProvideAndRegisterDocumentSet-bResponse_Message">
    <WL5G3N0:documentation>Provide And Register Document Set Response</WL5G3N0:documentation>
    <wsdl:part name="body" element="WL5G3N2:RegistryResponse"/>
  </wsdl:message>
  <wsdl:message name="RetrieveDocumentSet_Message">
    <WL5G3N0:documentation>Retrieve Document Set</WL5G3N0:documentation>
    <wsdl:part name="body" element="WL5G3N1:RetrieveDocumentSetRequest"/>
  </wsdl:message>
  <wsdl:message name="RetrieveDocumentSetResponse_Message">
    <WL5G3N0:documentation>Retrieve Document Set Response</WL5G3N0:documentation>
    <wsdl:part name="body" element="WL5G3N1:RetrieveDocumentSetResponse"/>
  </wsdl:message>
  <wsdl:portType name="DocumentRepository_PortType">
    <wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
      <wsdl:input message="WL5G3N1:ProvideAndRegisterDocumentSet-b_Message" WL5G3N3:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b"/>
      <wsdl:output message="WL5G3N1:ProvideAndRegisterDocumentSet-bResponse_Message" WL5G3N3:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-bResponse"/>
    </wsdl:operation>
    <wsdl:operation name="DocumentRepository_RetrieveDocumentSet">
      <wsdl:input message="WL5G3N1:RetrieveDocumentSet_Message" WL5G3N3:Action="urn:ihe:iti:2007:RetrieveDocumentSet"/>
      <wsdl:output message="WL5G3N1:RetrieveDocumentSetResponse_Message" WL5G3N3:Action="urn:ihe:iti:2007:RetrieveDocumentSetResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentRepository_Binding_Soap12" type="WL5G3N1:DocumentRepository_PortType">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
      <WL5G3N4:operation soapAction="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b" soapActionRequired="false"/>
      <wsdl:input>
        <WL5G3N4:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <WL5G3N4:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentRepository_RetrieveDocumentSet">
      <WL5G3N4:operation soapAction="urn:ihe:iti:2007:RetrieveDocumentSet" soapActionRequired="false"/>
      <wsdl:input>
        <WL5G3N4:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <WL5G3N4:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentRepository_Service">
    <wsdl:port name="DocumentRepository_Port_Soap12" binding="WL5G3N1:DocumentRepository_Binding_Soap12">
      <WL5G3N4:address location="https://servicoshm.saude.gov.br/EHR-UNB/ProxyService/RepositoryPS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>